<h4>Ingredients</h4>
<ul *ngFor="let ingredient of ingredients">
	<li>
		<div>
			{{ingredient.ingredient_show?.ingredient_meta?.name}} -
			{{ingredient.amount}} {{ingredient.ingredient_show?.unit?.short}} <button class="btn btn-default btn-sm" (click)="removeIngredient(ingredient)"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</li>
</ul>
<div>
	<h4>Add ingredient</h4>
	<div class="form-group form-group-lg">
		<label class="control-label" for="amount">Amount</label>
		<div class="input-group col-xs-12" [class.has-success]="newIngredient.amount">
		  <input type="text" class="form-control" id="amount" [(ngModel)]="newIngredient.amount" autocomplete="off" />
		</div>
		<br />
		<label class="control-label" for="unit_id">Unit</label>
		<div class="input-group col-xs-12" [class.has-success]="newIngredient.unit_id">
		  <input type="text" class="form-control" id="unit_id" autocomplete="off" />
		</div>
		<br />
		<label class="control-label" for="ingredient_meta_id">Ingredient-metas</label>
		<div class="input-group col-xs-12" [class.has-success]="newIngredient.ingredient_meta_id">
		  <input type="text" class="form-control" id="ingredient_meta_id" autocomplete="off" />
		</div>	
	</div>
	<button class="btn btn-primary" type="button" (click)="addIngredient()">Add ingredient</button>
</div>
<div class="alert alert-warning" role="alert" *ngIf="validationMessage">{{validationMessage}}</div>