<div *ngIf="!unit">
	Loading...
</div>
<div *ngIf="unit">
	<h2>Edit unit</h2>
	<div class="form-group form-group-lg">
		<label class="control-label" for="unit_name">Name</label>
		<div class="input-group col-xs-12">
		  <input type="text" class="form-control" id="unit_name" [(ngModel)]="unit.name" />
		</div>
		<br />
		<label class="control-label" for="unit_short">Short</label>
		<div class="input-group col-xs-12">
		  <input type="text" class="form-control" id="unit_short" [(ngModel)]="unit.short" />
		</div>
		<br />
		<label class="control-label" for="unit_plural">Trigger plural?</label>
		<div class="input-group col-xs-12">
		  <select class="form-control" id="unit_plural" [ngModel]="unit.triggers_plural" (ngModelChange)="pluralChange($event)">
		  	<option value=0>0 = never (1 gram gulerod, 10 gram gulerod)</option>
		  	<option value=1>1 = always (no example yet)</option>
		  	<option value=2>2 = when amount <> 1 (0,5 stk gulerødder, 1 stk gulerod, 10 stk gulerødder)</option>
		  </select>
		  <!--<input type="text" class="form-control" id="unit_plural" [(ngModel)]="unit.triggers_plural" />-->
		</div>
		<br />
		<div class="input-group">
		  <input type="checkbox" class="" id="unit_headline" [(ngModel)]="unit.is_headline" />&nbsp;
		  <label class="control-label" for="unit_headline">Is headline</label>
		</div>
	</div>
	<button class="btn btn-primary" type="button" (click)="save()">Save</button>
	<button class="btn btn-link" type="button" (click)="goBack()">Back to Units</button>
</div>